[Unit]
Description=Puma HTTP Server
Requires=network.target

[Service]
EnvironmentFile=/home/ubuntu/puma-environment
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
ExecStart='/usr/local/bin/puma'
Restart=always

[Install]
WantedBy=multi-user.target
