folder_id                = "AAAAAAAAAAAAAAAAAAAA"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
subnet_id                = "AAAAAAAAAAAAAAAAAAAA"
service_account_key_file = "key.json"
app_disk_image           = "AAAAAAAAAAAAAAAAAAAA"
db_disk_image            = "AAAAAAAAAAAAAAAAAAAA"
